{% extends 'login_base.html' %}
{% load static %}

{% block title %}
    <title>پنل | ورود</title>
{% endblock %}


{% block body %}
    <div class="div_form row" style="margin-top: 5%">

        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <img src="{% static 'dist/img/znu_logo.jpg' %}" alt="User Image"
                 style="height: 190px!important; text-align: center; position: relative; margin:20px;">
            <h4>SnappMusic</h4>
            <input class="name" type="text" name="username" placeholder="نام کاربری را وارد نمایید">
            <input class="pw" type="password" name="password" placeholder="پسورد را وارد نمایید"/>
            <div class="col-md-12">

                <div class=" col-md-6 ">
                    <a href="{% url "users:UserRegister" %}" >
                        <span class="register_button" >یا ثبت نام کنید</span>
                    </a>
                </div>
                <div class="col-md-6">
                    <input class="login_button" type="submit" value="ورود" style="margin-left: 31%"/>
                </div>
            </div>

        </form>


    </div>
    <!-- jQuery 3 -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% endblock %}