{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">توضیحات کلاس</a></li>
                        </ul>
                        {% include "messages.html" %}

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-info box-solid">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">توضیحات کلاس {{ class.name }}</h3>
                                                <!-- /.box-tools -->
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <div class="row">
                                                    <div class="col-md-6 col-xs-6">
                                                        <div class="container">
                                                            <div class="col-md-6">
                                                                <img src="{{ class.logo.url }}" alt="No photo"
                                                                     style="max-width: 98%;padding-right: 2%;padding-top: 2%;">

                                                            </div>
                                                            <div class="col-md-6">
                                                                <h4>نام آموزشگاه: <a
                                                                        href="{% url "users:ViewInstitute" class.user.id %}">{{ class.user.full_name }}</a>
                                                                </h4>


                                                                <h4>نام استاد: {{ class.teacher }}</h4>
                                                                <h4>ساز: {{ class.instrument }}</h4>
                                                                <h4>ساعت برگزاری کلاس: {{ class.time }}</h4>
                                                                <br><br>
                                                                {% if is_register == 1 %}
                                                                    <button class="btn btn-info" disabled>شما قبلا در
                                                                        این کلاس ثبت نام کرده اید.
                                                                    </button>
                                                                {% elif is_register == -1 %}
                                                                    <button class="btn btn-warning" disabled>
                                                                        شما قادر به ثبت نام در این کلاس نیستید
                                                                    </button>
                                                                {% else %}
                                                                    <form method="post"
                                                                          action="{% url "users:RegisterClass" %}">
                                                                        {% csrf_token %}
                                                                        <input type="text" style="display: none;"
                                                                               value="{{ class.id }}" name="class_id">
                                                                        <input type="submit" value="ثبت نام"
                                                                               class="btn btn-success">
                                                                    </form>
                                                                {% endif %}

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- datepicker -->


    <script src="{% static 'dist/js/jquery-flot-stack.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>

{% endblock %}
<!-- datepicker -->