{% extends 'login_base.html' %}
{% load static %}

{% block title %}
    <title>پنل | ثبت نام</title>
{% endblock %}


{% block body %}
    <div class="row div_form" style="margin-top: 1%">

        <form action="{% url 'users:UserRegister' %}" method="post">
            {% csrf_token %}
            <img src="{% static 'dist/img/znu_logo.jpg' %}" alt="User Image"
                 style="height: 190px!important; text-align: center; position: relative; margin:20px;">
            <h4>SnappMusic</h4>
            <label style="float: right" for="">
                نام کاربری:
            </label>
            <input type="text" name="username" placeholder="نام کاربری  خودرا وارد نمایید" id="username" required/>
            <label style="float: right" for="">
                نام و نام خانودگی:
            </label>
            <input type="text" name="full_name" placeholder="نام و نام خانوادگی خود را وارد نمایید" id="full_name"
                   required/>
            <label style="float: right" for="">
                شماره تماس:
            </label>
            <input type="text" name="phone" placeholder="شماره تماس خود را وارد نمایید" id="phone" required/>
            <label style="float: right" for="">
                رمز عبور:
            </label>
            <input type="password" name="password" placeholder="رمز عبور خود را وارد نمایید" id="password" required/>
            <label style="float: right" for="">
                تکرار رمز عبور:
            </label>
            <input type="password" name="password_2" placeholder="تکرار رمز عبور خود را وارد نمایید" id="password_2"
                   required/>
            {#            <input class="register_btn" type="submit" value="ثبت نام" style="margin-left: 31%"/>#}
            {#                        <div class="col-md-12">#}

            <div class=" col-md-6 ">
                <a href="{% url "institute:InstituteRegister" %}">
                    <span class="register_button">ثبت نام آموزشگاه</span>
                </a>
            </div>
            <div class="col-md-6">
                <input class="login_button" type="submit" value="ثبت نام" style="margin-left: 31%"/>
            </div>

        </form>
    </div>
    <!-- jQuery 3 -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% endblock %}