<div class="container">
    <main class="grid">
        {% for class in classes %}
            <article>
                <img src="{{ class.logo.url }}" alt="Photo">
                <div class="text row">
                    <h3>{{ class.name }}</h3>
                    <p>{{ class.teacher }}</p>
                    <p>{{ class.time }}</p>

                    <a href="{% url "users:ViewClass" class.id %}" class="btn btn-primary btn-block align-self-end">توضیحات</a>

                </div>

            </article>
        {% endfor %}
    </main>
</div>

