<div class="container">
    <main class="grid">
        {% for institute in institutes %}
            <article>
                <img src="{{ institute.logo.url }}" alt="Photo">
                <div class="text row">
                    <h3>{{ institute.full_name }}</h3>
                    <p class="text">{{ institute.description }}</p>

                        <a href="{% url "users:ViewInstitute" institute.id %}"
                           class="btn btn-primary btn-block align-self-end">معرفی بیشتر</a>
                </div>

            </article>
        {% endfor %}
    </main>
</div>

