<div class="container">
    <div class="col-md-6">
        <img src="{{ institute.logo.url }}" alt="No photo" style="max-width: 98%;padding-right: 2%;padding-top: 2%;">

    </div>
    <div class="col-md-6">
        <h4>معرفی آموزشگاه:</h4>
        <p>{{ institute.description }}</p>
        <h4>آدرس:</h4>
        <p>{{ institute.address }}</p>
        <h4>شماره تلفن:</h4>
        <p>{{ institute.phone }}</p>

    </div>
</div>