{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SnappMusic</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap-theme.css' %}">
    <!-- Bootstrap rtl -->
    <link rel="stylesheet" href="{% static 'dist/css/rtl.css' %}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.css' %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <![endif]-->


    <!-- Google Font -->

    {% block css %}

    {% endblock %}

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><small>SMusic</small></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>SnappMusic</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="user user-menu">
                        <a href="#" >
                            <img src="{{ request.user.logo.url }}" class="user-image">
                            <span class="hidden-xs">{{ request.user }}</span>
                        </a>

                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <!-- right side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-right image">
                    <img {% if request.user.logo.url %} src="{{ request.user.logo.url }}" {% else %}
                                                        src="{% static 'dist/img/Music-CC.jpg' %}" {% endif %}
                                                        class="img-circle" alt="No Image">
                </div>
                <div class="pull-right info">
                    <p style="margin-right: 2%; margin-top: 2%;">{{ request.user.full_name }}</p>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">منو</li>
                <li class="active"><a href="{% url "institute:Home" %}">
                    <i class="fa fa-home"></i> <span>خانه</span>
                    <span class="pull-left-container">
                  <i class="fa pull-left"></i>
                </span>
                </a>
                </li>
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-institution"></i> <span>کلاس ها</span>
                        <span class="pull-left-container">
                            <i class="fa fa-angle-right pull-left"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active">
                            <a href="{% url 'institute:AddClass' %}">
                                <i class="fa fa-plus-circle"></i> <span>اضافه کردن کلاس</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-group"></i> <span>کاربران</span>
                        <span class="pull-left-container">
                            <i class="fa fa-angle-right pull-left"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active">
                            <a href="{% url "institute:InstituteClassUsers" %}">
                                <i class="fa fa-male"></i> <span>کاربران ثبت نام کرده</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="{% url 'institute:logout' %}">
                        <i class="fa fa-sign-out"></i> <span>خروج</span>
                    </a>
                </li>


            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    {% block content %}

    {% endblock %}

    <footer class="main-footer text-left">
        <strong>Copyleft &copy; 2020 <a href="#">Zanjan University</a></strong>
    </footer>
</div>


<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<!-- InputMask -->
<script src="{% static 'plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
<script src="{% static 'plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
<!-- date-range-picker -->
<script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- bootstrap datepicker -->
<script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<!-- bootstrap color picker -->
<script src="{% static 'bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
<!-- bootstrap time picker -->
<script src="{% static 'plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
<!-- SlimScroll -->
<script src="{% static 'bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<!-- iCheck 1.0.1 -->
<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static  'bower_components/fastclick/lib/fastclick.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static  'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static  'dist/js/demo.js' %}"></script>
<!-- babakhani datepicker -->
<script src="{% static  'dist/js/persian-date-0.1.8.min.js' %}"></script>
<script src="{% static  'dist/js/persian-datepicker-0.4.5.min.js' %}"></script>


{% block js %}

{% endblock %}


{% block script %}

{% endblock %}

</body>
</html>
