<!DOCTYPE html>
{% load static %}

<html lang="fa" dir="rtl">
<head>
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap-theme.css' %}">
    {#    <!-- Bootstrap rtl -->#}
    {#    <link rel="stylesheet" href="{% static 'dist/css/rtl.css' %}">#}
    {#    <!-- Font Awesome -->#}
    {#    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">#}
    {#    <!-- Ionicons -->#}
    {#    <link rel="stylesheet" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">#}
    {#    <!-- Theme style -->#}
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.css' %}">


    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: #2c3e50; /*From http://flatuicolors.com/ */
        }

        .div_form {
            position: relative;
            width: 380px;
            height: max-content;
            margin: 10px auto;
            text-align: center;
            background: #ecf0f1;
            padding: 40px;
            -webkit-border-radius: 20px 0 0 0;
            -moz-border-radius: 20px 0 0 0;
            border-radius: 20px 0 0 0;
            -webkit-box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
            -moz-box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
            box-shadow: 0px 1px 0px #ad392d, inset 0px 1px 0px white;
            box-shadow: 20px 20px 20px;
        }

        h4 {
            font-size: 22px;
            margin-bottom: 25px;
            text-shadow: 1px 1px 0px white;
        }

        input {
            display: block;
            width: 300px;
            padding: 14px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            border: 0;
            margin-bottom: 12px;
            color: #7f8c8d;
            font-size: 16px;
        }

        input:focus {
            background: #fafafa;
        }


        li {
            position: absolute;
            right: 40px;
            bottom: 62px;
            list-style: none;
        }

        a, a:visited {
            text-decoration: none;
            color: #7f8c8d;
            font-weight: 400;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

        .login_button {
            position: relative;
            width: 110px;
            margin-top: 10px;
            background: #3498db;
            color: #fff;
            font-weight: 400;
            text-shadow: 1px 1px 0px #2d7baf;
            box-shadow: 0px 3px 0px #2d7baf;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

        .register_button {
            position: relative;
            width: 120px;
            margin-top: 10px;
            background: #138f48;
            color: #ffffff;
            font-weight: 400;
            box-shadow: 0px 3px 0px #009140;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            text-align: center;
            display: block;
            padding: 16px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            border: 0;
            margin-bottom: 12px;
            font-size: 13px;
        }

        .register_btn {
            position: relative;
            width: 145px;
            background: #138f48;
            color: #ffffff;
            font-weight: 400;
            box-shadow: 0px 3px 0px #009140;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            text-align: center;
            display: block;
            padding: 13px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            border: 0;
            margin-bottom: 12px;
            font-size: 16px;
            margin-right: 27%;
            margin-top: 7%;
        }
    </style>
    {% block title %}
    {% endblock %}
</head>


{% include 'messages.html' %}
{% block body %}
{% endblock %}

</body>
</html>