{% extends 'institute_index.html' %}
{% load static %}
{% block css %}
    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            grid-gap: 20px;
            align-items: stretch;
        }

        .grid > article {
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
        }

        .grid > article img {
            width: 100%;
            object-fit: contain;
            min-height: 220px;
            padding-right: 2%;
            padding-left: 2%;
            padding-top: 2%;
        }

        .grid .text {
            padding: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                اضافه کردن کلاس
            </h1>
            <ol class="breadcrumb">
                <li><a href="{% url "institute:Home" %}"><i class="fa fa-home"></i>خانه</a></li>
                <li><a href="{% url "institute:AddClass" %}"><i class="fa fa-plus-circle"></i>اضافه کردن کلاس</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box box-success">
                            <div class="box-body with-border" id="canvas_div">
                                {% include 'messages.html' %}
                                <div class="row">
                                    <div class="col-md-10 col-md-push-1">
                                        <form method="post" enctype='multipart/form-data'>
                                            {% csrf_token %}
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>نام کلاس</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-align-left">
                                                            </i>
                                                        </div>
                                                        <input name="name" type="text" class="form-control"
                                                               required placeholder="نام کلاس را وارد نمایید">
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label>نام استاد</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-align-left">
                                                            </i>
                                                        </div>
                                                        <input name="teacher" type="text" class="form-control"
                                                               required placeholder="نام استاد را وارد نمایید">
                                                    </div>

                                                </div>

                                                <div class="form-group">
                                                    <label>عکس کلاس</label>
                                                    <input name="logo" type="file" required>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>ساز</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-align-left">
                                                            </i>
                                                        </div>
                                                        <input name="instrument" type="text" class="form-control"
                                                               required placeholder="نام ساز را وارد نمایید">
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label>تایم کلاس</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-align-left">
                                                            </i>
                                                        </div>
                                                        <input name="time" type="text" class="form-control"
                                                               required placeholder="تایم کلاس را وارد نمایید">
                                                    </div>

                                                </div>



                                            </div>
                                            <div class="col-md-12" style="text-align: center">
                                                <button name="send" type="submit" class="btn btn-success">ایجاد</button>
                                            </div>


                                        </form>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- datepicker -->


    <script src="{% static 'dist/js/jquery-flot-stack.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>

{% endblock %}
<!-- datepicker -->
