{% extends 'institute_index.html' %}
{% load static %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                ویرایش {{ class.name }}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{% url "institute:Home" %}"><i class="fa fa-home"></i>خانه</a></li>
                <li><a href="{% url "institute:EditClass" class.id %}"><i class="fa fa-home"></i>ویرایش {{ class.name }}</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box box-success">
                            <div class="box-body with-border" id="canvas_div">
                                {% include 'messages.html' %}
                                <div class="row">
                                    <div class="col-md-10 col-md-push-1">
                                        <form method="post" enctype='multipart/form-data'>
                                            {% csrf_token %}
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>نام کلاس</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-align-left">
                                                            </i>
                                                        </div>
                                                        <input name="name" type="text" class="form-control"
                                                               placeholder="نام کلاس را وارد نمایید"
                                                               value="{{ class.name }}">
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label>نام استاد</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-align-left">
                                                            </i>
                                                        </div>
                                                        <input name="teacher" type="text" class="form-control"
                                                               placeholder="نام استاد را وارد نمایید"
                                                               value="{{ class.teacher }}">
                                                    </div>

                                                </div>

                                                <div class="form-group">
                                                    <label>عکس کلاس</label>

                                                    <img src="{{ class.logo.url }}" alt="Photo"
                                                         style="max-width: 98%;max-height: 98%;padding-right: 2%;
                                                         padding-top: 2%;">
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>ساز</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-align-left">
                                                            </i>
                                                        </div>
                                                        <input name="instrument" type="text" class="form-control"
                                                               placeholder="نام ساز را وارد نمایید"
                                                               value="{{ class.instrument }}">
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label>تایم کلاس</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-align-left">
                                                            </i>
                                                        </div>
                                                        <input name="time" type="text" class="form-control"
                                                               placeholder="تایم کلاس را وارد نمایید"
                                                               value="{{ class.time }}">
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <input name="logo" type="file">
                                                </div>


                                            </div>
                                            <div class="col-md-12" style="text-align: center">
                                                <button name="send" type="submit" class="btn btn-primary">
                                                    تغییرات اعمال شود
                                                </button>
                                            </div>


                                        </form>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- datepicker -->


    <script src="{% static 'dist/js/jquery-flot-stack.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>

{% endblock %}
<!-- datepicker -->
