{% extends 'institute_index.html' %}
{% load static %}
{% block css %}
    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            grid-gap: 20px;
            align-items: stretch;
        }

        .grid > article {
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
        }

        .grid > article img {
            width: 100%;
            object-fit: contain;
            min-height: 220px;
            padding-right: 2%;
            padding-left: 2%;
            padding-top: 2%;
        }

        .grid .text {
            padding: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                خانه
            </h1>
            <ol class="breadcrumb">
                <li><a href="{% url "institute:Home" %}"><i class="fa fa-home"></i>خانه</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box box-success">
                            <div class="box-body with-border" id="canvas_div">
                                {% include 'messages.html' %}
                                {% include 'institute/institute_class_post.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- datepicker -->


    <script src="{% static 'dist/js/jquery-flot-stack.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>

{% endblock %}
<!-- datepicker -->
