\{% extends 'login_base.html' %}
{% load static %}

{% block title %}
    <title>پنل | ثبت نام آموزشگاه</title>
{% endblock %}


{% block body %}
    <div class="row div_form">

        <form enctype='multipart/form-data' method="post">
            {% csrf_token %}
            <img src="{% static 'dist/img/znu_logo.jpg' %}" alt="User Image"
                 style="height: 190px!important; text-align: center; position: relative; margin:20px;">
            <h4>SnappMusic</h4>
            <input type="text" name="type" value="1" style="display: none;"/>
            <label style="float: right" for="">
                نام کاربری: (برای مثال: test123 )
            </label>
            <input type="text" name="username" placeholder="نام کاربری آموزشگاه را وارد نمایید" id="username"
                   required/>
            <label style="float: right" for="">
                نام آموزشگاه: (برای مثال: پارس)
            </label>
            <input type="text" name="full_name" placeholder="نام آموزشگاه را وارد نمایید. برای مثال پارس"
                   id="full_name"
                   required/>
            <label style="float: right" for="">
                شماره تماس: (برای مثال: ۰۲۱۶۶۱۲۳۴۵۴)
            </label>
            <input type="text" name="phone" placeholder="شماره تماس آموزشگاه را وارد نمایید" id="phone" required/>
            <label style="float: right" for="">
                معرفی آموزشگاه:
            </label>
            <input type="text" name="description" placeholder="توضیحات جهت معرفی آموزشگاه" id="phone" required/>
            <label style="float: right" for="">
                آدرس آموزشگاه:
            </label>
            <input type="text" name="address" placeholder="آدرس آموزشگاه را وارد نمایید" id="phone" required/>
            <label style="float: right" for="">
                رمز عبور:
            </label>
            <input type="password" name="password" placeholder="رمز عبور خود را وارد نمایید" id="password"
                   required/>
            <label style="float: right" for="">
                تکرار رمز عبور:
            </label>
            <input type="password" name="password_2" placeholder="تکرار رمز عبور خود را وارد نمایید"
                   id="password_2"
                   required/>
            <label style="float: right">
                لوگو آموزشگاه
            </label>
            <input name="logo" type="file" required>
            <input class="register_btn" type="submit" value="ثبت نام" style="margin-left: 31%"/>

        </form>
    </div>
    <!-- jQuery 3 -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% endblock %}