<div class="container">
    <main class="grid">
        {% for class in classes %}
            <article>
                <img src="{{ class.logo.url }}" alt="Photo">
                <div class="text row">
                    <h3>{{ class.name }}</h3>
                    <p>{{ class.teacher }}</p>

                    <div class="col-md-6">
                        <a href="{% url "institute:EditClass" class.id %}"
                           class="btn btn-primary btn-block align-self-end">ویرایش</a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url "institute:DeleteClass" class.id %}"
                           class="btn btn-danger btn-block align-self-end"
                           onclick="return confirm('آیا از حذف این کلاس اطمینان دارید؟')">حذف</a>
                    </div>
                </div>

            </article>
        {% endfor %}
    </main>
</div>

